* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #ffffff, #ff0000);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necessário para centralizar corretamente os filhos */
}

@media (max-height: 500px) {
  body {
    margin: 25% 0 25% 0;
  }
}

.parabens {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #f507071f; /* Cor de fundo opcional */
  text-align: center; /* Centraliza o texto horizontalmente */
  padding: 10px 0; /* Espaçamento interno opcional */
  z-index: 1000; /* Garante que a div fique acima de outros elementos */
}

.envelop {
  width: 30rem; /* Aumentei o tamanho */
  height: 20rem; /* Aumentei o tamanho */
  position: fixed; /* Mudei para 'fixed' */
  top: 50%; /* Posiciona o envelope no meio da tela verticalmente */
  left: 50%; /* Posiciona o envelope no meio da tela horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta a posição para o centro exato */
  z-index: 200; /* Para garantir que o envelope fique acima de outros elementos */
}

@media (min-width: 400px) and (max-width: 600px) {
  .envelop {
    width: 35rem; /* Aumentei o tamanho */
    height: 25rem; /* Aumentei o tamanho */
  }
}

@media (min-width: 600px) {
  .envelop {
    width: 40rem; /* Aumentei o tamanho */
    height: 30rem; /* Aumentei o tamanho */
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .envelop {
    bottom: 10%; /* Ajustei a posição */
  }
}
.envelop__front-paper {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.7rem;
  border: 0.35rem solid #000000b7;
  background-image: url(imgs/eu+ela.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(100% 0%, 50% 70%, 0% 0%, 0% 100%, 100% 100%);
  z-index: 300;
}

.envelop__back-paper {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 0.7rem;
  border: 0.35rem solid #000000b7;
  background-color: #ee0606;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 90%);
  z-index: 100;
}

.envelop__up-paper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.7rem;
  border: 0.35rem solid #000000;
  background-color: #967b5c;
  background-image: url(imgs/eu+ela.jpg); /* Caminho para a sua imagem */
  background-position: center top; /* Alinha a imagem ao topo centralizado */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  background-size: cover; /* A imagem cobre toda a área do elemento */
  clip-path: polygon(0% 0%, 100% 0%, 50% 81%);
  z-index: 400;
}

.envelop__sticker {
  width: 100%;
  height: 20%;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 400;
  background-image: url("https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png");
  background-color: rgba(7, 7, 7, 0.247);
  border: 0.3rem solid #00000007;
  background-size: 2rem;
  background-position: center;
}

@media (max-width: 400px) {
  .envelop__sticker {
    background-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  .envelop__sticker {
    height: 15%;
  }
}

.envelop__false-sticker {
  width: 20%;
  height: 20%;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 80%;
  bottom: 0;
  right: 0;
  z-index: 300;
  background-image: url("https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png");
  background-color: rgba(7, 7, 7, 0.247);
  border: 0.3rem solid #00000007;
  background-size: 2rem;
  background-position: center;
}

.envelop__false-sticker p {
  margin: 0;
  color: #865d5d; /* Cor do texto */
  font-size: 1rem; /* Tamanho da fonte */
}

@media (max-width: 400px) {
  .envelop__false-sticker {
    background-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  .envelop__false-sticker {
    height: 15%;
  }
}

.envelop__content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 200;
}

.love-notes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  width: 95%;
  height: 30%;
  background-color: #ffffff;
  position: absolute;
  overflow: hidden;
  transition: height 0.5s, opacity 0.25s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.note:nth-child(1) {
  bottom: 60%;
}

.note:nth-child(2) {
  bottom: 40%;
}

.note:nth-child(3) {
  bottom: 20%;
}

.note:hover {
  cursor: pointer;
  height: 45%;
}

.note__text {
  font-family: "Sofia";
  padding: 1rem;
}

.note__text p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.note__text h3 {
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 600px) {
  .note__text p {
    font-size: 1.025rem;
  }
}

@media (min-width: 600px) {
  .note__text p {
    font-size: 1.15rem;
  }
}

.scissors {
  cursor: url("https://i.postimg.cc/GtLCdKxR/sisors.png"), pointer;
}

.scissors:active {
  cursor: url("https://i.postimg.cc/GtXQ7WPZ/pngwing-com.png"), pointer;
}

.cursor {
  cursor: pointer;
}
